.navbar {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  max-width: 90vw;
  margin: 0 auto;
}

.logo {
  height: 50px;
}
nav {
  display: flex;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}
ul li {
  margin-left: 1rem;
}
ul li a {
  margin-left: 1rem;
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
}

ul li a:hover {
  /* Add styling to hover*/
}
.hamburger {
  display: none;
}

@media screen and (max-width: 767px) {
  .navbar {
    display: flex;
    background-color: white;
    padding: 1rem 1rem;
    align-items: center;
    height: 4rem;
    width: 100%;
    margin: 0 auto;
  }
  .hamburger {
    display: block;
  }
  .nav-links {
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 1rem;
    display: none;
  }

  .nav.open .nav-links {
    display: flex;
    flex-direction: column;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
  }

  ul li a {
    margin-left: 1rem;
    color: #495e57;
    display: block;
    padding-bottom: 20px;
    text-decoration: none;

    font-size: 1.1em;
    text-align: center;
    max-width: 85%;
  }
  ul li a:hover {
    font-weight: bold;
  }
}
