.card-container {
  background-color: #edefee;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  justify-content: space-between;
  width: 80%;
  margin: 70px auto;
}

.card-img img {
  object-fit: cover;
  width: 100%;
}

.card-text {
  padding: 10px 15px 40px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.price {
  color: #ee9972;
}
#card-description {
  font-size: 1.2rem;
  margin-bottom: 25px;
  width: 100%;
}

.card-text p {
  font-size: 1.2rem;
  line-height: 1.2;
  text-align: left;
  color: #495e57;
}

.card-text h4 {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.card-img {
  height: 220px;
  width: 100%;
  overflow: hidden;
  display: flex;
  overflow: clip;
  overflow-clip-margin: content-box;
  /*align-items: center; */
  border-radius: 20px 20px 0 0;
}

.card-order-btn {
  display: flex;
  justify-content: center;
}

.card-order-btn button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #f4ce14;
  border: none;
  border-radius: 50px;
  width: 300px;
  cursor: pointer;
  display: inline-block;
}

.card-order-btn button:hover {
  cursor: pointer;
  background-color: #ff7f00;
  color: #f4ce14;
  transition: 0.3s;
}

@media screen and (max-width: 780px) {
  .card-text p,
  h3 {
    font-size: smaller;
  }
  .card {
    margin-top: 25px;
  }
  .card-text h4 {
    font-size: smaller;
  }

  .card-img {
    height: 200px;
  }

  .card-order-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
