.hero-background {
  background: #495e57;
  height: 100%;
  display: flex;
}
.hero {
  height: 100%;
  padding: 2rem 0;
  display: grid;
  align-items: center;
  grid-column-gap: 2rem;
  grid-template: "hero-text image";
  grid-template-columns: 60fr 40fr;
  max-width: 80vw;
  margin: 0 auto;
}
.hero-title {
  color: #fece14;
  font-size: 3.5rem;
  line-height: 0.5rem;
}
.hero-subtitle {
  color: #fff;
  font-size: 2rem;
}

p {
  color: #fff;
  line-height: 1.8;
  width: 70%;
}
.hero-info {
  grid-area: hero-text;
}
.hero-image {
  grid-area: image;
  width: 100%;
  height: 20rem;
  justify-self: end;
  object-fit: cover;
  border-radius: 16px;
}
@media screen and (max-width: 767px) {
  .hero-background {
    background: #495e57;
    height: 100%;
    display: flex;
  }

  .hero {
    height: 100%;
    padding: 2rem 1rem;
    display: grid;
    align-items: center;
    grid-column-gap: 2rem;
    grid-template: "info " "image";
    grid-template-columns: 1fr;
    max-width: 83vw;
    margin: 0 auto;
  }

  .hero-title {
    color: #f4ce14;
    font-size: 32px;
    line-height: 0.5rem;
  }

  .hero-subtitle {
    color: white;
    font-size: 2rem;
  }

  p {
    color: #fff;
  }

  .hero-image {
    grid-area: image;
    width: 98%;
    height: auto;
    justify-self: center;
    margin-top: 25px;
  }

  .hero-info {
    grid-area: info;
  }
}
